@import "colors/colors.css";

* {
    all: unset;
    font-family: 'JetBrainsMono Nerd Font propo';
    font-weight: 800;
}

window#waybar {
    background-color: alpha(@bg0 , 0.85);
    color: @fg;
    
}

.modules-right {
    padding: 5 7;
}

.modules-center {
    padding: 5 7;
}

.modules-left {
    padding: 5 7;
}


#workspaces {
    background: @bg4;
    margin: 0 5;
}

#workspaces button {
    padding: 0 5;
    color: @fg;
}

#workspaces button.active {

    
}


#custom-media {
    
     background: linear-gradient( 45deg,
    alpha(@red,    0.75) 0%,
    alpha(@orange, 0.75) 14.2%,
    alpha(@yellow, 0.75) 28.4%,
    alpha(@green,  0.75) 42.6%,
    alpha(@aqua,   0.75) 62.8%,
    alpha(@blue,   0.75) 77%,
    alpha(@purple, 0.75) 91.2%
);
    padding: 0 11;
    color: @bg0;
}

#clock {
    background: @bg4;
    color: @purple;
    margin: 0 5;
    font-weight: 900;
}

#power-profiles-daemon {

    background: @bg4;
    padding: 0 11;
    color: @orange;
    margin: 0 3;


}

#battery {

    background: @bg4;
    padding: 0 11;
    color: @yellow;
    margin: 0 3;

}
#audio{
    background: @bg4;
    padding: 0 11;
    color: @purple;
    margin: 0 3;
}


#pulseaudio-slider {
    background: @bg4;
    margin: 0 8px;
}

#pulseaudio-slider slider {
    min-width: 0;
    min-height: 0;
    opacity: 0;

    background: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-width: 56px;
    min-height: 6px;

    border-radius: 99px;
    background-color: @bg4;
}

#pulseaudio-slider highlight {
    border-radius: 99px;
    background: @purple;
}

#pulseaudio-slider.muted highlight {
    background: @red;
}

#network {
    background: @bg4;
    padding: 0 5;
    color: @green;
    margin: 0 3;

}


#bluetooth {
    background: @bg4;
    margin: 0 3;
    padding: 0 11;
    color: @aqua;

}
#custom-notification{
    background: @bg4;
    color: @red;
    margin: 0 3;
    padding: 0 5;
}

#idle_inhibitor{
    background: @bg4;
    color: @blue;
    margin: 0 3;
    padding: 0 5;
}

#power {
    background: @bg4;
    color: @red;
    margin: 0 3;
    padding: 0 5;
}

#custom-reboot,
#custom-quit,
#custom-lock,
#custom-poower {
    padding: 0 4;
    color: @orange;
}

tooltip {
    background: alpha(@bg0 , 0.95);
    border: 1px solid @blue;
    
}

tooltip label {
    padding: 0 7;
    color: @purple;
}
