* {
  bg0: #14181bBF;
  bg1: #1e2429BF;
  bg2: #283036BF;
  bg3: #323c43BF;
  bg4: #3c4851BF;

  text: #d3c6aaBF;

  red: #e67e80BF;
  orange: #e69875BF;
  yellow: #dbbc7fBF;
  green: #a7c080BF;
  aqua: #83c092BF;
  blue: #7fbbb3BF;
  purple: #d699b6BF;

  grey0: #5c6a72BF;
  grey1: #859289BF;
  grey2: #657366BF;
}
