* {
  bg0:     #121212BF;
  bg1:     #1e1e1eBF;
  bg2:     #2a2a2aBF;
  bg3:     #333333BF;
  bg4:     #444444BF;
  text:    #e6e6e6BF;
  red:     #b0a0a5BF;
  orange:  #b0a8a0BF;
  yellow:  #b0ada0BF;
  green:   #a5b0a0BF;
  aqua:    #9cb0adBF;
  blue:    #9ca8b0BF;
  purple:  #a89cb0BF;
  grey0:   #555a60BF;
  grey1:   #888c94BF;
  grey2:   #b9bdc2BF;
}
