* {
  bg0:     #e6e6e6BF;
  bg1:     #d4d4d4BF;
  bg2:     #bcbcbcBF;
  bg3:     #aaaaaaBF;
  bg4:     #999999BF;
  text:    #0a0a0aBF;
  red:     #2b2b2bBF;
  orange:  #363636BF;
  yellow:  #555555BF;
  green:   #666666BF;
  aqua:    #777777BF;
  blue:    #888888BF;
  purple:  #999999BF;
  grey0:   #141414BF;
  grey1:   #2b2b2bBF;
  grey2:   #555555BF;
}
