* {
  bg0:     #1f1f28BF;
  bg1:     #2a2a37BF;
  bg2:     #223249BF;
  bg3:     #363646BF;
  bg4:     #54546dBF;

  text:    #dcd7baBF;

  red:     #e82424BF;
  orange:  #ffa066BF;
  yellow:  #dca561BF;
  green:   #98bb6cBF;
  aqua:    #7aa89fBF;
  blue:    #7e9cd8BF;
  purple:  #957fb8BF;

  grey0:   #54546dBF;
  grey1:   #727169BF;
  grey2:   #c8c093BF;
}

