* {
  bg0: #192330BF;
  bg1: #252f3cBF;
  bg2: #313b48BF;
  bg3: #3d4754BF;
  bg4: #495360BF;

  text: #c0c8d5BF;

  red: #c94f6dBF;
  orange: #fe9373BF;
  yellow: #dbc074BF;
  green: #8ebaa4BF;
  aqua: #7ad4d6BF;
  blue: #719cd6BF;
  purple: #baa1e2BF;

  grey0: #495360BF;
  grey1: #535d6aBF;
  grey2: #5c6673BF;
}

